@import url(https://fonts.googleapis.com/css?family=Exo:100);

body{
    user-select: none;
}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,.c13{
    cursor: pointer;
    user-select: none;
}
.c1{
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 1.6s linear infinite;
    font: 2.5em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c2{
    position: absolute;
    left: 25%;
    top: 30%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 1s linear infinite;
    font: 1em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c3{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 1.4s linear infinite;
    font: 1.8em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c4{
    position: absolute;
    left: 10%;
    top: 60%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2s linear infinite;
    font: 1.8em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c5{
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 1s linear infinite;
    font: 0.9em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c6{
    position: absolute;
    left: 80%;
    top: 50%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2.5s linear infinite;
    font: 1.8em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c7{
    position: absolute;
    left: 80%;
    top: 10%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 3s linear infinite;
    font: 3em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c8{
    position: absolute;
    left: 25%;
    top: 80%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2.8s linear infinite;
    font: 2em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c9{
    position: absolute;
    left: 80%;
    top: 80%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2.5s linear infinite;
    font: 3.5em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
}
.c10{
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2.8s linear infinite;
    font: 1.6em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
}  
.c11{
    position: absolute;
    left: 70%;
    top: 35%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2.5s linear infinite;
    font: 1.4em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c12{
    position: absolute;
    left: 35%;
    top: 45%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2.5s linear infinite;
    font: 1.4em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
.c13{
    position: absolute;
    left: 60%;
    top: 90%;
    font-size: 5em;
    font-family: serif;
    color:grey;
    animation: animate 2s linear infinite;
    font: 1.6em exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 600;
} 
@keyframes animate{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    35%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    65%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
}